html, body {
    height: 100%;
    margin: 0;
    background: #dfdfdf;
}

#display {
    width: auto;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

nav {
    width: 400px;
    float: left;
    background: #555;
    margin: 15px;
    padding: 10px;
    overflow: scroll;
    color: #eee;
    font: 14px Helvetica, sans-serif;
}

h1 {
    margin: 0;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #777;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px #333;
}

textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 250px;
    margin: 0;
    border: none;
    padding: 10px;
    background: #eee;
    color: #222;
    resize: vertical;
    font-family: Menlo, Monaco, Courier, monospace;
    font-size: inherit;
}

label {
    display: block;
    margin: 10px 0 14px 0;
}

input {
    float: right;
    width: 60%;
    margin: 0;
    border: none;
    padding: 2px 4px;
    background: #eee;
    color: #222;
    font: inherit;
}

p {
    margin: 10px 0;
}

button {
    display: inline-block;
    width: calc(50% - 5px);
    height: 60px;
    padding: 0;
    color: #eee;
    font: inherit;
}

button span {
    font-size: 0.8em;
}

button.png {
    margin: 4px 5px 0 0;
    border: none;
    background: #daa520;
}

button.png:active {
    background: #8a6814;
}

button.svg {
    margin: 4px 0 0 5px;
    border: none;
    background: #bf64a7;
}

button.svg:active {
    background: #8a4878;
}
