html, body {
    height: 100%;
    margin: 0;
    background: #dfdfdf;
}

#display {
    width: auto;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

nav {
    width: 400px;
    max-height: calc(100% - 45px);
    float: left;
    background: #322f32;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    overflow: scroll;
    color: #b5b3b5;
    font: 14px Helvetica, sans-serif;
}

h1 {
    margin: 0;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #444;
    color: #edebed;
    font-size: 16px;
    text-transform: uppercase;
}

textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 3px;
    padding: 10px;
    background: #cecece;
    color: #222;
    white-space: pre;
    word-wrap: normal;
    resize: vertical;
    font-family: Menlo, Monaco, Courier, monospace;
    font-size: inherit;
}

textarea[name="input"] {
    height: 250px;
}

textarea[name="customScript"] {
    height: 150px;
}

label {
    display: block;
    margin: 10px 0;
    padding: 2px 0;
}

input {
    float: right;
    width: 60%;
    margin: 0;
    margin-top: -2px;
    border: none;
    border-radius: 3px;
    padding: 2px 4px;
    background: #cecece;
    color: #222;
    font: inherit;
}

hr {
    border: none;
    border-top: 1px solid #444;
}

p {
    margin: 10px 0;
}

.advanced {
    display: none;
}

.open-menu {
    position: relative;
}

.open-list {
    min-width: 200px;
    position: absolute;
    top: 30px;
    right: 5px;
    display: inline-block;
    margin: 0;
    border-radius: 3px;
    padding: 5px 0;
    background: #040404;
    list-style-type: none;
    color: #878787;
}

.open-list:after,
.open-list:before {
    content: ' ';
    position: absolute;
    bottom: 100%;
    right: 15px;
    margin-left: -7px;
    border: solid transparent;
    border-bottom-color: #040404;
    border-width: 7px;
}

.open-list li {
    position: relative;
    height: 30px;
    padding: 2px 5px;
    cursor: pointer;
}


.open-list li:hover {
    background: #3f3f3f;
}

.open-list li span {
    display: block;
    font-size: 10px;
    font-style: italic;
}

.open-list li .delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 34px;
    color: #a10022;
    text-align: center;
    line-height: 34px;
}

.open-list li .delete:hover {
    color: #040404;
    background: #a10022;
}

.open-list li.empty-message {
    line-height: 30px;
    text-align: center;
    cursor: default;
}

.open-list li.empty-message:hover {
    background: inherit;
}

button {
    padding: 2px 10px;
    background: #212121;
    border: none;
    border-radius: 3px;
    color: #878787;
    font-size: 10px;
    cursor: pointer;
}

button:active {
    background: #040404;
}

button.open {
    float: right;
    margin: 5px 0;
}

button.open.toggled {
    background: #040404;
}

button.transpose {
    float: right;
    margin: 10px 0;
}

button.show-advanced {
    display: block;
    width: 100%;
    margin: 10px auto;
}

button.create {
    display: inline-block;
    width: calc(50% - 5px);
    height: 70px;
    padding: 0;
    color: #ddd;
    font: inherit;
}

button span {
    font-size: 0.8em;
}

button.create.png {
    margin-right: 4px;
    border: none;
    background: #24637a;
}

button.create.png:active {
    background: #173e4d;
}

button.create.svg {
    margin-left: 4px;
    border: none;
    background: #49711e;
}

button.create.svg:active {
    background: #314622;
}

@media (max-width: 1100px) {
    nav {
        float: none;
        width: calc(100% - 20px);
        max-height: inherit;
        max-width: 580px;
        border-radius: 0;
        margin: 0 auto;
    }
    #display {
        display: block;
        width: auto;
        height: auto;
        overflow-x: scroll;
        margin: 0 auto;
        text-align: center;
    }
}
